@import '@/config/config';

body {
    @include reset-body;
}

.result {
    @include imagem-back($tela-inicial);
    @include tamanho;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
        text-transform: uppercase;
        text-align: center;

        span {
            color: $gren-one;
        }
    }

    div {
        width: 200px;
        height: 120px;
        background-color: $white-one;
        border-radius: 8px;
        border: 2px solid $white-two;
        color: $black;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: $desktop) {
    .result {
        gap: 3rem;

        h1 {
            font-size: 3rem;
        }

        div {
            width: 320px;
            height: 190px;
            font-size: 4rem;
        }
    }
}

@media (min-width: $tablet) {
    .result {
        gap: 3rem;

        h1 {
            font-size: 2.5em;
        }

        div {
            width: 260px;
            height: 160px;
            font-size: 4rem;
        }
    }
}