@import '@/config/config';


.button-new {
    text-decoration: none;
    color: $white-one;
    background-color: $blue;
    border-radius: 8px;
    border: 1px solid $white-one;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1.3rem;
    padding: 10px 16px;
    gap: 10px;
    cursor: pointer;
    font-family: $font;
    animation: animation-button 1s infinite alternate-reverse;

    .icon-button {
        color: $white-one;
        width: 18px;
    }
}

@media (min-width: $desktop) {
    .button-new {
        padding: 10px 20px;
        font-size: 2.2rem;
        margin-top: 1rem;
    }
}

@media (min-width: $tablet) {
    .button-new {
        font-size: 1.7rem;
    }
}