@import '@/config/config';


.button-new {
    text-decoration: none;
    color: $white-one;
    padding: 10px 14px;
    background-color: $blue;
    border-radius: 8px;
    border: 1px solid $white-one;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1.3rem;
    gap: 10px;
    cursor: pointer;
    font-family: $font;

    .icon-button {
        color: $white-one;
        width: 18px;
    }
}