@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

$tela-inicial: "/public/telaInicial.svg";
$tela-perguntas: "/public/telaPerguntas.svg";
$icon-infor: "/src/icons/infor.svg";
$icon-volume: "/src/icons/volume.svg";
$font: 'Salsa', cursive;
$paddind-btn: 12px 32px;


//Resoluções
$tablet: 649px;
$desktop: 1025px;
$desktop-max: 1300px;
$paddind-desktop: 35px 40px 45px;
$paddind-tablet: 35px 40px 45px;

//Paleta de cores
$blue: #163ED4;
$white-one: #F4F4F4;
$white-two: #A1A1A1;
$white-one-hover: #e7e7e7;
$white-two-hover: #979797;
$black: #151515;
$black-two: rgba(0, 0, 0, 0.5);
$gren-one: #4BEE12;
$gren-two: #BBFD9C;
$gren-border: #5FD138;
$red-one: #DA1111;
$red-two: #FBA1A1;
$red-border: #CA3C32;

@mixin reset-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    color: $white-one;

    h1,
    h2,
    h3,
    p {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
        font-family: $font;
    }
}

@mixin imagem-back($image) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin tamanho {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 35px 27px 45px;
}


@mixin modal-desktop {
    width: 370px;
    height: 300px;
    font-size: 1.3rem;
    padding: 1.4rem;
}

@mixin modal-tablet {
    width: 280px;
    height: 240px;
    font-size: 1.2rem;
    padding: 1.4rem;
}

.correto {
    background-color: $gren-two;
    border-top: 1px solid $gren-border;
    border-left: 1px solid $gren-border;
    border-right: 1px solid $gren-border;
    box-shadow: 0px 4px 0px 0px $gren-border;
}

.errado {
    background-color: $red-two;
    border-top: 1px solid $red-border;
    border-left: 1px solid $red-border;
    border-right: 1px solid $red-border;
    box-shadow: 0px 4px 0px 0px $red-border;
}