@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

$tela-inicial: "/public/telaInicial.svg";
$tela-perguntas: "/public/telaPerguntas.svg";
$icon-infor: "/src/icons/infor.svg";
$icon-volume: "/src/icons/volume.svg";
$font: 'Salsa', cursive;
$paddind-btn: 12px 32px;

//Paleta de cores
$blue: #163ED4;
$white-one: #F4F4F4;
$white-two: #A1A1A1;
$black: #151515;
$black-two: rgba(0, 0, 0, 0.5);
$gren-one: #4BEE12;
$gren-two: #BBFD9C;
$gren-border: #5FD138;
$red-one: #DA1111;
$red-two: #FBA1A1;
$red-border: #CA3C32;

@mixin reset-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    color: $white-one;

    h1,
    h2,
    h3,
    p {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
        font-family: $font;
    }
}

@mixin imagem-back($image) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin tamanho {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 35px 27px 45px;
}

.correto {
    background-color: $gren-two;
    border-top: 1px solid $gren-border;
    border-left: 1px solid $gren-border;
    border-right: 1px solid $gren-border;
    box-shadow: 0px 4px 0px 0px $gren-border;
}

.errado {
    background-color: $red-two;
    border-top: 1px solid $red-border;
    border-left: 1px solid $red-border;
    border-right: 1px solid $red-border;
    box-shadow: 0px 4px 0px 0px $red-border;
}