@import '@/config/config';

body {
    @include reset-body;
}

.playing {
    @include imagem-back($tela-perguntas);
    @include tamanho;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    .playing-alt {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

}
