@import '@/config/config';

body {
    @include reset-body;
}

.player {
    @include imagem-back($tela-inicial);
    @include tamanho;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.player-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;

    h1 {
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    p {
        text-transform: uppercase;
        font-size: 14px;
        width: 90%;
    }
}

.player-config {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 35px 27px 45px;
    box-sizing: border-box;
}

.button-config {
    background-color: transparent;
    border: none;
    width: 2.3rem;

    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}